:host ::ng-deep .files-custom .dx-fileuploader-wrapper {
  padding: 0 !important;
}

:host ::ng-deep .files-custom .dx-fileuploader-input-wrapper {
  padding: 0 !important;
  margin: 0 !important;
  border: none;
}

:host ::ng-deep .files-custom .dx-fileuploader-input-wrapper::before {
  padding: 0 !important;
  margin: 0 !important;
}

:host ::ng-deep .files-custom .dx-fileuploader-input-wrapper::after {
  padding: 0 !important;
  margin: 0 !important;
}

:host ::ng-deep .files-custom.dx-fileuploader-dragover .dx-fileuploader-input {
  padding: 0 !important;
  height: 100px;
}

:host ::ng-deep .files-custom {
  width: 100%;
  height: 100px;
  margin: 4px 0px;
}

:host ::ng-deep .files-custom .dx-button {
  width: 100%;
  height: 100px;
}

:host ::ng-deep .files-custom .dx-button-text {
  letter-spacing: normal;
  text-transform: unset;
  line-height: 1;
  font-size: 16px;
}

:host ::ng-deep .files-custom .dx-button-has-text .dx-button-content {
  overflow: unset;
  text-overflow: unset;
  white-space: unset;
}

.uploaded-file {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.delete-file {
  cursor: pointer;
  margin-left: 4px;
}
.delete-file:hover {
  color: #d32f2f;
}
