/* You can add global styles to this file, and also import other style files */
body {
  color: #333;
  font-size: 14px;
  h3 {
    font-size: 18px;
  }
  p {
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: unset;
  }
}

.loader {
  width: 50px;
  padding: 8px;
  margin: 45vh auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #e04403;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

body .card {
  border: none;
  box-shadow: 0 0 4px 1px #e6e6e6;
  margin: 0 auto;
  padding: 1rem;
}
.dx-header-row > td {
  background-color: #e04403;
  color: #fff;
}
.dx-datagrid-rowsview .dx-row-focused.dx-data-row > td:not(.dx-focused) {
  background-color: rgba(243, 164, 130, 0.2) !important;
  color: #333 !important;
}
.dx-datagrid-rowsview .dx-row-focused.dx-data-row > td {
  border-bottom-color: rgba(243, 164, 130, 0.2) !important;
}
.dx-template-wrapper a.code-link:hover {
  color: #e04403;
}

.dx-template-wrapper a.code-link {
  display: inline-block;
  position: relative;
  color: #e04403;
  cursor: pointer;
}

.dx-template-wrapper a.code-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #e04403;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.dx-template-wrapper a.code-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.toast-container .ngx-toastr {
  box-shadow: unset !important;
}
.content-wrapper {
  max-width: 1500px;
  margin: 0 auto;
}
.dx-pager .dx-page-sizes .dx-selection,
.dx-pager .dx-pages .dx-selection {
  background-color: #e04403 !important;
  color: #fff !important;
}
.modal-header h3 {
  font-size: 18px;
}
.modal-header {
  padding: 8px 16px !important;
}
.modal-footer {
  padding: 8px 16px !important;
}
.modal-footer > * {
  margin: unset !important;
}
.header-title {
  color: #e04403;
  border-bottom: 1px solid #e04403;
  width: fit-content;
}
.status-chip {
  border: 1px solid;
  border-radius: 5px;
  padding: 4px 8px;
}
