/* You can add global styles to this file, and also import other style files */
body {
  color: #333;
  font-size: 14px;
}

.loader {
  width: 50px;
  padding: 8px;
  margin: 45vh auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #e04403;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
